<div class="app-content content" th:fragment="maincontent">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- Statistics with grouped cards -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col border-right-blue-grey border-right-lighten-4">
                                    <div class="card-body text-center">
                                        <h1 class="display-4"><i class="ft-chevron-down fs-2 danger"></i> 26</h1>
                                        <span>New Ticket</span>
                                    </div>
                                </div>
                                <div class="col border-right-blue-grey border-right-lighten-4">
                                    <div class="card-body text-center">
                                        <h1 class="display-4"><i class="ft-chevron-up fs-2 success"></i> 8</h1>
                                        <span>Responses</span>
                                    </div>
                                </div>
                                <div class="col border-right-blue-grey border-right-lighten-4">
                                    <div class="card-body text-center">
                                        <h1 class="display-4"><i class="ft-chevron-up fs-2 success"></i> 6h</h1>
                                        <span>Response Time</span>
                                    </div>
                                </div>
                                <div class="col border-right-blue-grey border-right-lighten-4">
                                    <div class="card-body text-center">
                                        <h1 class="display-4">10</h1>
                                        <span>Liked Comment</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body text-center">
                                        <h1 class="display-4">22</h1>
                                        <span>Closed Ticket</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>